style.
	body {
		margin: 0;
		font: 16px "Helvetica Neue", Helvetica;
	}
	a {
		text-decoration: none;
		color: #3b73af;
	}
	a:hover {
		text-decoration: underline;
	}
	nav {
		border-bottom: 1px solid #2e3d54;
		margin-top: 0;
		background: #205081;
	}
	nav h1 {
		font-weight: normal;
		color: #fff;
		margin: 0;
		padding: 5px 10px;
	}
	table {
		padding: 50px;
		width: 100%;
	}
	table th {
		margin-top: 10px;
		text-align: left;
	}
	table td {
		vertical-align: top;
		font-size: 12px;
		border-bottom: 1px solid #999;
	}
	table td span.summary {
		font-size: 10px;
	}
	.controls {
		margin-top: 10px;
		text-align: center;
	}
	.controls a,
	.controls span {
		padding: 0 10px;
	}
	ul.subtasks {
		font-size: 10px;
	}

nav
	h1 Jira Autotracker

div.controls
	a(href='?date=' + previousWeek) &lsaquo; Previous Week
	span= currentWeek
	a(href='?date=' + nextWeek) Next Week &rsaquo;

table
	each developer, name in developers
		tr
			th
			each date in dates
				th= date
		tr
			th= name
		each issue, issueKey in developer
			tr
				td 
					a(href='https://' + host + '/browse/' + issueKey, target='_blank') #{issueKey} 
					span.summary= issue.issue.fields.summary
					if issue.subtasks.length
						ul.subtasks
							each subtask in issue.subtasks
								li
									a(href='https://' + host + '/browse/' + subtask.key, target='_blank') #{subtask.key} 
									span #{subtask.fields.summary}
				each hours in issue.dates
					td
						if hours
							span #{hours} hours
						else
							span -
