style.
	body {
		margin: 0;
		font: 16px "Helvetica Neue", Helvetica;
	}
	a {
		text-decoration: none;
		color: #3b73af;
	}
	a:hover {
		text-decoration: underline;
	}
	nav {
		border-bottom: 1px solid #2e3d54;
		margin-top: 0;
		background: #205081;
	}
	nav h1 {
		font-weight: normal;
		color: #fff;
		margin: 0;
		padding: 5px 10px;
	}
	table {
		padding: 50px;
		width: 100%;
	}
	table th {
		margin-top: 10px;
		text-align: left;
	}
	table td {
		vertical-align: top;
		font-size: 12px;
		border-bottom: 1px solid #999;
		padding: 3px;
	}
	table td span.summary {
		font-size: 10px;
	}
	table td span.type span {
		border-width: 1px;
		border-style: solid;
		border-radius: 3px;
		font-size: 10px;
		padding: 0 3px;
		margin-right: 5px;
	}
	table td span.type span.bug {
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
	}
	table td span.type span.task {
		background-color: #d9edf7;
		border-color: #bce8f1;
		color: #31708f;
	}
	table td span.type span.story {
		background-color: #fcf8e3;
		border-color: #faebcc;
		color: #8a6d3b;
	}
	.controls {
		margin-top: 10px;
		text-align: center;
	}
	.controls a,
	.controls span {
		padding: 0 10px;
	}
	ul.subtasks {
		font-size: 10px;
	}

nav
	h1 Jira Autotracker

div.controls
	a(href='?date=' + previousWeek) &lsaquo; Previous Week
	span= currentWeek
	a(href='?date=' + nextWeek) Next Week &rsaquo;

table
	each developer, name in developers
		tr
			th
			each date in dates
				th= date
		tr
			th= name
		each issue, issueKey in developer
			tr
				td 
					span.type
						if issue.issue.fields.issuetype.name == 'Bug'
							span.bug Bug
						else if issue.issue.fields.issuetype.name == 'Task'
							span.task Task
						else if issue.issue.fields.issuetype.name == 'Story'
							span.story Story
					a(href='https://' + host + '/browse/' + issueKey, target='_blank') #{issueKey} 
					span.summary= issue.issue.fields.summary
					if issue.subtasks.length
						ul.subtasks
							each subtask in issue.subtasks
								li
									a(href='https://' + host + '/browse/' + subtask.key, target='_blank') #{subtask.key} 
									span #{subtask.fields.summary}
				each hours in issue.dates
					td
						if hours
							span #{hours} hours
						else
							span -
